<!DOCTYPE html>
<html>
  <head>
    <meta data-n-head="true" charset="utf-8"/>
    <meta data-n-head="true" http-equiv="X-UA-Compatible" content="IE=Edge"/>
  </head>
  <body>
    {{ code }} {{ message }}
  </body>
</html>